@page
@model PrivacyModel
@{
    ViewData["Title"] = "Message From Student";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p id = "about_p"> Hello everyone! <br /> Thank you for giving me the oppurtunity to showcase my skills. I hope this gets me the opportunity to meet with the team where I can work with you guys to learn as much as I can and become expert developers such as yourselves. This was also my first time building a web page in Visual Studio with C#, regardless of the outcome of the assignment if you have any feedback for me to improve that would be greatly appreciated. Thank you!</p>
